# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Docker files
*.tar.gz
*.dockerignore

# Kubernetes files
kubeconfig

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Environment files
.env
.venv/
venv/

# Jenkins files
workspace/

# Mac OS files
.DS_Store

# Logs
*.log
